doctype html
html(lang="en")
	head
		title= title
		link(href='/css/h5poker.css', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono', rel='stylesheet')
	body
		div.table-container
			div.table-start
			div.table-end
			div.table
				each val in [1,2,3,4,5,6,7,8,9]
					div(id="player-" + val).player-seat-container.active
						div.player-seat
							div.player-photo
							div.card.hidden
							div.card.hidden
						div.player-name &nbsp;
							span.stack &nbsp;
				div#dealer-cards-container
					div.card.hidden
					div.card.hidden
					div.card.hidden
					div.card.hidden
					div.card.hidden
		script(src='/socket.io/socket.io.js', type='text/javascript')
		script(src='http://code.jquery.com/jquery-2.1.0.min.js', type='text/javascript')
		script(src='/js/h5poker.js', type='text/javascript')
