/* ===========================================================
 * Filename: styles.css
 * Description: Main styles for h5poker.com
 * Version: 1.0
 * Website: http://h5poker.com
 * Author: h5poker.com
 * =========================================================== */

body {
    background-color: #023;
    padding: 0px;
    margin: 0px;
}

.table-container {
    max-width: 1440px;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

.chat-container {
    width: 20%;
    padding: 0px;
    border-left: 5px solid #000;
    background-color: #ccc;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-bottom: -20px;
}

.chat-area {
    width: 90%;
    height: 95%;
    float: none;
    margin: 5%;
    padding: 0px;
    overflow: auto;
    font-family: "Droid Sans Mono";
    font-size: 12px;
}

.table {
    width: 40%;
    height: 50%;
    background-color: #006600;
    background-image: url(../img/table-background.png);
    float: none;
    margin: auto;
    margin-top: 0px;
    z-index: 1000;
    position: relative;
    border-width: 10px 0px;
    border-style: solid;
    border-color: black;
}

.table-start {
    height: 50%;
    width: 25%;
    float: left;
    background-color: #006600;
    background-image: url(../img/table-background.png);
    border-radius: 50%;
    z-index: -1;
    margin-left: 17%;
    border: 10px solid #000;
}

.table-end {
    height: 50%;
    width: 25%;
    float: right;
    background-color: #006600;
    background-image: url(../img/table-background.png);
    border-radius: 50%;
    z-index: -1;
    margin-right: 17%;
    border: 10px solid #000;
}
@media screen and (max-width: 959px) {

    .table-container {
        margin-top: 12%;
    }
    
    .player-seat-container {
        width: 120px;
        box-shadow: 5px 3px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    #player-1 {
        position: absolute;
        top: 87.5%;
        margin-top: 10px;
        left: 50%;
        margin-left: -60px;
    }

    #player-2 {
        position: absolute;
        top: 87.5%;
        margin-top: 10px;
        left: -5%;
        margin-left: -60px;
    }

    #player-3 {
        position: absolute;
        top: 50%;
        margin-top: 10px;
        left: -35%;
        margin-left: -60px;
    }

    #player-4 {
        position: absolute;
        top: 12.5%;
        margin-top: 10px;
        left: -35%;
        margin-left: -60px;
    }

    #player-5 {
        position: absolute;
        top: -25%;
        margin-top: 10px;
        left: -5%;
        margin-left: -60px;
    }

    #player-6 {
        position: absolute;
        top: -25%;
        margin-top: 10px;
        left: 105%;
        margin-left: -60px;
    }

    #player-7 {
        position: absolute;
        top: 12.5%;
        margin-top: 10px;
        left: 135%;
        margin-left: -60px;
    }

    #player-8 {
        position: absolute;
        top: 50%;
        margin-top: 10px;
        left: 135%;
        margin-left: -60px;
    }

    #player-9 {
        position: absolute;
        top: 87.5%;
        margin-top: 10px;
        left: 105%;
        margin-left: -60px;
    }

    .player-seat {
        padding: 2px;
        background-color: rgba(0,0,0,0.75);
        width: 120px;
        height: 40px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid black;
        border-bottom: 0px;
    }

    .player-photo {
        height: 40px;
        width: 40px;
        /* border-radius: 34px; */
        float: left;
        background-color: #fff;
        /* border: 2px solid #ccc; */
        background-size: 100%;
    }

    .player-name {
        position: relative;
        float: none;
        width: 120px;
        font-size: 9px;
        font-weight: bold;
        font-family: sans-serif;
        background-color: #000;
        padding: 2px;
        color: #fff;
        border: 1px solid black;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0px 0px 3px 3px;
        border-top: 0px;
    }

    .self .player-name {
        background-color: #215475 !important;
        border-color: #215475 !important;
    }

    .player-name .stack {
        color: #ccc;
        float: right;
    }

    .heart:before, .diamond:before, .club:before, .spade:before {
        margin-left: 2px !important;
    }

    .heart:after, .diamond:after, .club:after, .spade:after {
        margin-right: 2px !important;
    }

    .card {
        border: 1px solid #666;
        border-radius: 5px;
        width: 30px;
        height: 40px;
        position: relative;
        font-size: 12pt;
        font-family: sans-serif;
        margin: 0px 0px 0px 3px;
        float: right;
        background-color: #fff;
    }

    #dealer-cards-container {
        background-color: rgba(0,0,0,0.2);
        width: 180px;
        height: 75px;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -90px;
        padding: 10px 10px 10px 5px;
    }


    .card div.value {
        font-size: 11px;
        top: 13px;
        line-height: 14px;
    }

}

@media screen and (min-width: 960px) {
    
    .table-container {
        margin-top: 10%;
    }

    .player-seat-container {
        width: 200px;
        box-shadow: 5px 3px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    #player-1 {
        position: absolute;
        top: 87.5%;
        margin-top: 20px;
        left: 50%;
        margin-left: -100px;
    }

    #player-2 {
        position: absolute;
        top: 87.5%;
        margin-top: 20px;
        left: -5%;
        margin-left: -100px;
    }

    #player-3 {
        position: absolute;
        top: 50%;
        margin-top: 20px;
        left: -35%;
        margin-left: -100px;
    }

    #player-4 {
        position: absolute;
        top: 12.5%;
        margin-top: 20px;
        left: -35%;
        margin-left: -100px;
    }

    #player-5 {
        position: absolute;
        top: -25%;
        margin-top: 20px;
        left: -5%;
        margin-left: -100px;
    }

    #player-6 {
        position: absolute;
        top: -25%;
        margin-top: 20px;
        left: 105%;
        margin-left: -100px;
    }

    #player-7 {
        position: absolute;
        top: 12.5%;
        margin-top: 20px;
        left: 135%;
        margin-left: -100px;
    }

    #player-8 {
        position: absolute;
        top: 50%;
        margin-top: 20px;
        left: 135%;
        margin-left: -100px;
    }

    #player-9 {
        position: absolute;
        top: 87.5%;
        margin-top: 20px;
        left: 105%;
        margin-left: -100px;
    }

    .player-seat {
        padding: 5px;
        background-color: rgba(0,0,0,0.75);
        width: 190px;
        height: 70px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid black;
        border-bottom: 0px;
    }

    .player-photo {
        height: 68px;
        width: 68px;
        /* border-radius: 34px; */
        float: left;
        background-color: #fff;
        /* border: 2px solid #ccc; */
        background-size: 100%;
    }

    .player-name {
        position: relative;
        float: none;
        width: 190px;
        font-size: 11px;
        font-weight: bold;
        font-family: sans-serif;
        background-color: #000;
        padding: 5px;
        color: #fff;
        border: 1px solid black;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
    }

    .self .player-name {
        background-color: #215475 !important;
        border-color: #215475 !important;
    }

    .player-name .stack {
        color: #ccc;
        float: right;
    }

    .card {
        border: 1px solid #666;
        border-radius: 5px;
        width: 50px;
        height: 66px;
        position: relative;
        font-size: 16pt;
        font-family: sans-serif;
        margin: 0px 0px 0px 5px;
        float: right;
        background-color: #fff;
    }

    #dealer-cards-container {
        background-color: rgba(0,0,0,0.2);
        width: 285px;
        height: 100px;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -142px;
        padding: 10px 10px 10px 5px;
    }


    .card div.value {
        font-size: 20px;
        top: 26px;
        line-height: 14px;
    }

}
@media screen and (min-width: 1600px) {
    
    .table-container {
        margin-top: 8%;
    }

    .player-seat-container {
        width: 300px;
        box-shadow: 5px 3px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
    }

    #player-1 {
        position: absolute;
        top: 87.5%;
        margin-top: 40px;
        left: 50%;
        margin-left: -150px;
    }

    #player-2 {
        position: absolute;
        top: 87.5%;
        margin-top: 40px;
        left: -5%;
        margin-left: -150px;
    }

    #player-3 {
        position: absolute;
        top: 48%;
        margin-top: 40px;
        left: -45%;
        margin-left: -150px;
    }

    #player-4 {
        position: absolute;
        top: 6.5%;
        margin-top: 40px;
        left: -45%;
        margin-left: -150px;
    }

    #player-5 {
        position: absolute;
        top: -35%;
        margin-top: 40px;
        left: -5%;
        margin-left: -150px;
    }

    #player-6 {
        position: absolute;
        top: -35%;
        margin-top: 40px;
        left: 105%;
        margin-left: -150px;
    }

    #player-7 {
        position: absolute;
        top: 6.5%;
        margin-top: 40px;
        left: 145%;
        margin-left: -150px;
    }

    #player-8 {
        position: absolute;
        top: 48%;
        margin-top: 40px;
        left: 145%;
        margin-left: -150px;
    }

    #player-9 {
        position: absolute;
        top: 87.5%;
        margin-top: 40px;
        left: 105%;
        margin-left: -150px;
    }

    .player-seat {
        padding: 5px;
        background-color: rgba(0,0,0,0.75);
        width: 290px;
        height: 100px;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid black;
        border-bottom: 0px;
    }

    .player-photo {
        height: 98px;
        width: 98px;
        /* border-radius: 34px; */
        float: left;
        background-color: #fff;
        /* border: 2px solid #ccc; */
        background-size: 100%;
    }

    .player-name {
        position: relative;
        float: none;
        width: 290px;
        font-size: 11px;
        font-weight: bold;
        font-family: sans-serif;
        background-color: #000;
        padding: 5px;
        color: #fff;
        border: 1px solid black;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0px 0px 5px 5px;
        border-top: 0px;
    }

    .self .player-name {
        background-color: #215475 !important;
        border-color: #215475 !important;
    }

    .player-name .stack {
        color: #ccc;
        float: right;
    }

    .card {
        border: 1px solid #666;
        border-radius: 5px;
        width: 70px;
        height: 96px;
        position: relative;
        font-size: 20pt;
        font-family: sans-serif;
        margin: 0px 0px 0px 5px;
        float: right;
        background-color: #fff;
    }

    #dealer-cards-container {
        background-color: rgba(0,0,0,0.2);
        width: 385px;
        height: 150px;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -192px;
        padding: 10px 10px 10px 5px;
    }


    .card div.value {
        font-size: 28px;
        top: 40px;
        line-height: 14px;
    }

}




.heart, .diamond {
    color: #c00;
}

.heart:before, .heart:after {
    content: '\002665';
}

.diamond:before, .diamond:after {
    content: '\002666';
}

.spade:before, .spade:after {
    content: '\002660';
}

.club:before, .club:after {
    content: '\002663';
}

.heart:before, .diamond:before, .club:before, .spade:before {
    margin-left: 5px;
}

.heart:after, .diamond:after, .club:after, .spade:after {
    margin-right: 5px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.card div.value {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    padding: 0px;
}

div.card.hidden {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQIW2N88eLFfwYoWLBgAQMjTADESUhIgAjAOCCFjB0dHf9BMjAAAHmxFsHoKG6SAAAAAElFTkSuQmCC);
}

.highlight, .self.active .highlight {
    border-color: #CCBA49 !important;
}